DATABASE_URL=mongodb+srv://souvikghosh_db_user:YASqttoPkb33F0Vj@revolte-node-cli.mxfk08f.mongodb.net/node-training?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_key_here
PORT=8080
NODE_ENV=development
